.construction-container {
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    position: relative;

}

h1 {
    background: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #519bcf97;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 13em;
    background-position: -3em -4.58em;

}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: #fcfffd;
    border-radius: 2px;
    padding: 5px 25px 55px 25px;
    max-width: fit-content;
    color: #181818;
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 40rem;
    box-shadow: 0 0 0 3px rgb(108, 102, 218), -10px 10px 0px 0px rgb(213, 249, 115);
}




h1 {
    font-size: 6.4rem !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    line-height: 8rem !important;
    letter-spacing: .2rem;
    margin: 0;
}

h2 {
    font-size: 2.6rem !important;
    font-weight: 400 !important;
    text-align: start;
    letter-spacing: .2rem;
    padding-top: -.3em;
    color: #519bcf !important;
    /* margin-left: 10px; */

}

p,
.social-bar {
    position: absolute;
    margin: 10px 0;
}

#root>div>div>div.text-container>p {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    bottom: 65px;
    color: #519bcf;
}


.social-bar {
    margin: 20px 0;
    bottom: 0;
}

#root>div>div>div>div>a {
    text-decoration: none;
}

#root>div>div>div>div>a>div {
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(33, 83, 245); */
    color: #519bcf;
    border-color: #519bcf;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 15rem;
    font-weight: 800;
}

#root>div>div>div>div>a>div:hover {
    background-color: #519bcf;
    border: 1px solid #519bcf;
    color: #fff;
}

.developed-by {
    position: absolute;
    right: 15.5em;
    bottom: -3em;
}

.developed-by p {
    color: #ffffff8f;
    background-color: #434343dd;
    border: 1px solid rgba(250, 250, 250, 0.453);
    border-radius: 8px;
    width: 10rem;
    text-align: center;
}