/* .construction-container {
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-image: url(https://images.unsplash.com/photo-1484627147104-f5197bcd6651?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    position: relative;

} */

:root {
    --size: 150px;

}

.construction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

span {
    background: linear-gradient(-45deg,
            #6276e6 25%,
            #33eb23 25%,
            #33eb23 50%,
            #6276e6 50%,
            #6276e6 75%,
            #33eb23 75%,
            #33eb23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: var(--size) var(--size);
    background-position: 0 0;
    animation: stripes 25s linear infinite;
    background-position: -10em 3em;
}

@keyframes stripes {
    100% {
        background-position: var(--size) 0, var(--size) 0, var(--size)s 0;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    background-color: #fafaf8;
    border-radius: 2px;
    padding: 5px 25px 55px 25px;
    max-width: fit-content;
    color: #181818;
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 40rem;
    box-shadow: 0 0 0 8px #6276e6, -35px 35px 0px 0px #fff826;
    position: absolute;
}




h1 {
    font-size: 6.4rem !important;
    font-weight: 900 !important;
    text-transform: uppercase;
    line-height: 8rem !important;
    letter-spacing: .2rem;
    margin: 0;
    color: #6276e6 !important;
}

h2 {
    font-size: 2.6rem !important;
    font-weight: 400 !important;
    text-align: start;
    letter-spacing: .2rem;
    padding-top: -.3em;
    color: #6276e6 !important;
    /* margin-left: 10px; */

}

p,
.social-bar {
    position: absolute;
    margin: 10px 0;
}

#root>div>div>div.text-container>p {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .1rem;
    bottom: 65px;
    color: #6276e6;
}


.social-bar {
    margin: 20px 0;
    bottom: 0;
}

#root>div>div>div>div>a {
    text-decoration: none;
}

#root>div>div>div>div>a>div {
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(33, 83, 245); */
    color: #6276e6;
    border-color: #6276e6;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 15rem;
    font-weight: 800;
}

#root>div>div>div>div>a>div:hover {
    background-color: #6276e6;
    border: 1px solid #6276e6;
    color: #fff;
}

.developed-by {
    position: absolute;
    right: 15.5em;
    bottom: -3em;
}

.developed-by p {
    color: #ffffff8f;
    background-color: #434343dd;
    border: 1px solid rgba(250, 250, 250, 0.453);
    border-radius: 8px;
    width: 10rem;
    text-align: center;
}


.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}