.construction-container {
    height: 100vh;
    width: 100vw;
    /* background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;

}

h1 {
    background: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #8686878f;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 13em;
    background-position: -3em -2.6em;

}

.text-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(25, 37, 42, 0.894); */
    background-color: #f0efef;
    height: 90vh;
    /* border-radius: 0 2% 2% 0; */
    padding: 10px 15px 10px 15px;
    max-width: fit-content;
    color: #0735cd;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


h1 {
    font-size: 6.4rem !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    line-height: 8rem;
    letter-spacing: .2rem;
    color: #4362a0 !important;
    padding: 5rem 0 0 0;
    /* background: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

h2 {
    font-size: 2.4rem;
    font-weight: 200;
    text-align: start;
    letter-spacing: .2rem;
    padding-top: 1em;

}

p,
.social-bar {
    position: absolute;
    margin: 10px 0;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .1rem;
    bottom: 60px;
}


.social-bar {
    margin: 20px 0;
    bottom: 0;
}

#root>div>div>div>div>a {
    text-decoration: none;
}

#root>div>div>div>div>a>div {

    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(33, 83, 245); */
    color: rgb(33, 83, 245);
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 15rem;
    font-weight: 800;
}

#root>div>div>div>div>a>div:hover {
    background-color: rgb(33, 83, 245);
    border: 1px solid rgb(33, 83, 245);
    color: #fff;
}